body {
    user-select: none;
    touch-action: manipulation;
    overscroll-behavior-y: none;
}
.board {
    display: flex;
}
.grid {
    width: 100px;
    height: 100px;
    margin: 1px;
    border: 1px solid black;
    align-content: center;
}
.column {
    cursor: pointer;
}
.column.disabled {
    cursor: auto;
    pointer-events: none;
}
.cell {
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.win {
    background-color: #8f8;
}
.p0 {
    background-color: #f00;
}
.p1 {
    background-color: #fc0;
}
